<div class="main_menu">
  <div class="main_content">
    <div class="menu_wrapper">
      <div class="box">
        <h2 class="menu_title">
          <img src="<%=asset_path('logo.png') %>" alt="">
        </h2>
        <div class="top_menu">
          <a class="btn btn_1 pb_disabled_top_sonpo" href="/menu/sonpo">損保営推システム</a>
          <a class="btn btn_2 pb_disabled_top_iinput_seiho" href="/menu/seiho">生保営推システム</a>
          <a class="btn btn_3 pb_disabled_top_iinput1_uriage" href="/menu/uriage">売上集計システム</a>
          <a class="btn btn_4 pb_disabled_top_iinput2_system" href="/menu/system">システム管理</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'My Blog', controller: 'articles', action: "index" %>